.navbar-container{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 0 20px;
    align-items: center;
    padding: 10px;
    border-radius: 10px 10px 0 0 ;
    background: #f8f9fa;

}

.dark .navbar-container {
    background: #212020;
    color: white;
    border: 1px solid transparent;
    /* margin-bottom: 10px; */
    
}

.logo{
    cursor: pointer;
}

img{
    width: 150px;
}


.left-side{
    display: flex;
    align-items: center;
    gap: 20px;
}

.dark .left-side{
    color: #fff;
}

.right-side{
    display: flex;
    width: 300px;
    align-items: center;
    /* gap: 10px; */
    /* background: black; */
    justify-content: center;
}


.links{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 10px;
    font-weight: 400;
    color: rgb(88, 86, 86);
    cursor: pointer;
    transition: all 0.3s ease;

}

.dark .links{
    color: white;

}

.links p{
    font-size: 18px;
}

.links p:hover{
    color: black;
}


.button{
    display: flex;
    background: #6036F0;
    padding: 10px 10px;
    justify-content: center;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.hero-image{
    width: 100%;
}

